@font-face {
  font-family: "Inria serif";
  src: url("../fonts/InriaSerif-Regular.ttf");
  font-display: swap;
}

.about {
  margin-top: 80px;
}

.text {
  margin-left: 40px;
  margin-bottom: 30px;
  font-family: "Inria serif";
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  border-radius: 20px;
  width: 30%;
  height: 30%;
}

.presentationTexte {
  text-align: center;
  font-size: 22px;
  display: block;
  font-family: "Inria serif", sans-serif;
  margin: 0;
  max-width: 500px;
  width: 40%;
  color: white;
}

.containerStack {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.stack {
  background-color: white;
  width: 30%;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(176,190,197, 0.9);
  box-shadow: 15px 10px 10px rgba(176,190,197, 0.6);
}

.title {
  text-align: center;
  font-family: "Inria serif";
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 30px;
  
}

.popover {
  background-color: rgb(220, 220, 217);
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .text {
    font-size: 36px;
  }
  .image {
    width: 40%;
    height: 40%;
  }
  .presentationTexte {
    font-size: 18px;
  }
  .containerStack {
    margin-top: 250px;
  }
  .stack {
    width: 40%;
  }
  .title {
    font-size: 32px;
  }
}
@media (max-width: 850px) {
  .text {
    font-size: 32px;
  }
  .presentationTexte {
    font-size: 15px;
  }
  .containerStack {
    margin-top: 300px;
  }
  .stack {
    width: 45%;
  }
  .title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .text {
    font-size: 28px;
  }
  .presentationTexte {
    font-size: 12px;
  }
  .containerStack {
    margin-top: 350px;
  }
  .stack {
    width: 50%;
  }
  .title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .text {
    font-size: 24px;
  }
  .presentationTexte {
    font-size: 10px;
  }
  .containerStack {
    margin-top: 350px;
  }
  .title {
    font-size: 20px;
  }
}
